



Independent Submission                                      K. Makhijani
Internet-Draft                              Futurewei Technologies, Inc.
Intended status: Informational                             25 April 2021
Expires: 27 October 2021


    Requirements Considerations for Flexible Industry Control Device
                               Addressing
                 draft-ietf-flexaddress-requirements-00

Abstract

   Industry Control Networks are classified as limited-domains because
   their scope is with in a controlled environment.  Such networks host
   a diverse set of non internet protocols for different purposes.  As
   the industry automation industrial networks demand their own specific
   requirements to operate between Internet and non-Internet protocols.
   One particular problem is the figuring out address space for such
   networks.

Discussion Venues

   This note is to be removed before publishing as an RFC.

   Discussion of this document takes place on the FLEXADRESS Working
   Group mailing list (flexadress@ietf.org), which is archived at
   https://mailarchive.ietf.org/arch/browse/flexadress/.

   Source for this draft and an issue tracker can be found at
   https://github.com/kiranmak/draft-ietf-flexaddress-requirements.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on 27 October 2021.




Makhijani                Expires 27 October 2021                [Page 1]

Internet-Draft                  FlexAddr                      April 2021


Copyright Notice

   Copyright (c) 2021 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents (https://trustee.ietf.org/
   license-info) in effect on the date of publication of this document.
   Please review these documents carefully, as they describe your rights
   and restrictions with respect to this document.  Code Components
   extracted from this document must include Simplified BSD License text
   as described in Section 4.e of the Trust Legal Provisions and are
   provided without warranty as described in the Simplified BSD License.

Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
   2.  Use case Development  . . . . . . . . . . . . . . . . . . . .   2
   3.  Analysis  . . . . . . . . . . . . . . . . . . . . . . . . . .   2
     3.1.  Scope Address Space . . . . . . . . . . . . . . . . . . .   3
   4.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . .   3
     4.1.  Requirement identifier  . . . . . . . . . . . . . . . . .   3
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   3
   6.  Security Considerations . . . . . . . . . . . . . . . . . . .   3
   7.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .   4
   8.  Informative References  . . . . . . . . . . . . . . . . . . .   4
   Author's Address  . . . . . . . . . . . . . . . . . . . . . . . .   4

1.  Introduction

   Industry control networks are increasingly becoming complex as the
   emphasis on convergence of OT/IT grows.  Operational Technologies
   (OT) networks are tied to set of non-Internet protocols such as
   Modbus, Profibus, CANbus, Profines, etc.  There are more than 100
   different protocols with its own packet format.  Whiel it is
   important to understand and generalize the data such networks are
   LDNs [RFC8799].

2.  Use case Development

   type of industry control network.

3.  Analysis

   ## Issue 1

   *  a suggested title or name for the issue




Makhijani                Expires 27 October 2021                [Page 2]

Internet-Draft                  FlexAddr                      April 2021


   *  a long-term pointer to the best reference describing the issue

   *  a short description of the nature of the issue and its impact on
      media quality of service, including:

      -  where in the network this issue has root causes

      -  who can detect this issue when it occurs ## Prevalence Practics

   *  an overview of the issue's known prevalence in practice.  pointers
      to write-ups of high-profile incidents are a plus.

   *  a list of known mitigation techniques, with (for each known
      mitigation):

      -  a name for the mitigation technique

      -  a long-term pointer to the best reference describing it

      -  a short description of the technique:

         o  what it does

         o  where in the network it operates

         o  an overview of the tradeoffs involved--how and why it's
            helpful, what it costs.

      -  supplemental information about the technique's deployment
         prevalence and status

3.1.  Scope Address Space

4.  Requirements

4.1.  Requirement identifier

5.  IANA Considerations

   This document requires no actions from IANA.

6.  Security Considerations

   This document introduces no new security issues.







Makhijani                Expires 27 October 2021                [Page 3]

Internet-Draft                  FlexAddr                      April 2021


7.  Acknowledgements

   Thanks to ---.

8.  Informative References

   [RFC8799]  Carpenter, B. and B. Liu, "Limited Domains and Internet
              Protocols", RFC 8799, DOI 10.17487/RFC8799, July 2020,
              <https://www.rfc-editor.org/info/rfc8799>.

Author's Address

   Kiran Makhijani
   Futurewei Technologies, Inc.
   Central Expy
   Santa Clara, CA 95050,
   United States of America

   Email: kiran.ietf@gmail.com
































Makhijani                Expires 27 October 2021                [Page 4]
